# LINE Messaging API Credentials
LINE_CHANNEL_ID=your_channel_id
LINE_CHANNEL_SECRET=your_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token

# Public Info
NEXT_PUBLIC_LINE_OA_ID=@194rgooz
NEXT_PUBLIC_LINE_OA_URL=https://line.me/R/ti/p/@194rgooz
